{% include JB/setup %}
{% include head.html %}

<section class="article">

{% if page.image.feature %}
  <div class="overlay-lighter"></div>
  {% if page.image.feature contains 'https://' | escape or page.image.feature contains 'http://' | escape %}
  <div class="featured-image" style="background-image: url({{ page.image.feature }})"></div>
  {% else %}
  <div class="featured-image" style="background-image: url({{ site.url }}/images/{{ page.image.feature }})"></div>
  {% endif %}
{% else %}
  <div class="overlay"-lighter></div>
  <div class="featured-image" style="background-image: url({{ site.url }}/images/flashlight3.jpg)"></div>
{% endif %}


      <article class="wrap post">
        <header class="post-header">
          <hgroup>
            <h1>{{page.title}}</h1>
            <p class="date">{{page.date | date: "%b %d, %Y" }}</p>
            <p class="intro">{% if page.description %}{{ page.description }}{% else %}{{ page.tagline }}{% endif %}</p>
          </hgroup>
        </header>

        {{ content }}

      <hr>

      <div class="post-sharing">
        <span><a target="_blank" href="http://www.facebook.com/share.php?u={{ site.url }}{{ page.url }}&amp;title={{ page.title | uri_escape }}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x"></i>
          </span>      
        </a></span>
        <span><a target="_blank" href="http://twitter.com/intent/tweet?status={{ page.title | uri_escape }}+{{ site.url }}{{ page.url }}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </span>      
        </a></span>    
        <span><a target="_blank" href="mailto:?subject={{ page.title | uri_escape }}&amp;body=Go%20check%20out%20{{ site.url }}{{ page.url }}.">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x"></i>
          </span>
        </a></span>
      </div>

      {% include JB/comments %}

      </article>

    </section>
</div>

{% include footer.html %}
